<div class="grid gap-4 justify-items-center items-center md:grid-cols-2 
                md:py-5">

  <img src="../../../../assets/img/miChagrita.jpeg" class="w-10/12 h-10/12 rounded-full md:order-1">

  <article class="text-center space-y-6 md:text-left md:space-y-8 md:ml-10 ">

    <h1 class="text-1xl font-bold text-very-dark-blue p-6 md:text-5xl text-center">Bienvenido al sitio web de Chacra
      <br><br>Mi Chagrita!
    </h1>

    <p class="text-dark-grayish-blue p-6 text-justify">Cultivamos alimentos orgánicos con amor y compromiso con la
      salud y el medio ambiente.
      Nuestro objetivo es proporcionar a nuestra comunidad productos frescos, sabrosos y cultivados de manera
      sostenible.<br>
      ¡Descubre el placer de comer alimentos cultivados con pasión y respeto por la tierra!
    </p>
    <a href="/tienda"
      class="button mx-auto rounded-full shadow-xl shadow-bright-red/30 bg-black md:mx-6 text-white md:p-2">Ver
      Productos</a>
  </article>
</div>

<div class="inline-flex items-center justify-center w-full">
  <hr class="w-64 h-1 my-8 bg-black border-0 rounded to-am-grey-dark">
  <div class="absolute px-4 -translate-x-1/2 bg-white left-1/2 dark:bg-gray-900">
    <svg class="w-4 h-4 text-gray-700 dark:text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
      fill="currentColor" viewBox="0 0 18 14">
      <path
        d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z" />
    </svg>
  </div>
</div>



<section class="text-gray-600 body-font">
  <div class="container mx-auto flex p-4 md:flex-row flex-col items-center">
    <div
      class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Misión</h1>
      <p class="mb-8 leading-relaxed text-justify">Nuestra misión es cultivar alimentos orgánicos de la más alta
        calidad, promoviendo la salud y el bienestar de
        las personas y el planeta. Nos comprometemos a practicar la agricultura sostenible, respetando la
        biodiversidad,
        preservando la salud del suelo y ofreciendo productos frescos y nutritivos. Buscamos inspirar a nuestra
        comunidad
        a adoptar un estilo de vida consciente y sostenible a través de la conexión con la tierra y una
        alimentación
        saludable.</p>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded" alt="hero" src="../../../../assets/img/vegetables1.jpg">
    </div>
  </div>
</section>

<section class="text-gray-600 body-font border">
  <div class="container mx-auto flex p-4 md:flex-row flex-col items-center">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 pr-10">
      <img class="object-cover object-center rounded" alt="hero" src="../../../../assets/img/vegetables2.jpg">
    </div>
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start 
                      md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Visión</h1>
      <p class="mb-8 leading-relaxed text-justify">Nos visualizamos como líderes en la producción de alimentos
        orgánicos, siendo un referente en prácticas agrícolas sostenibles
        y en la promoción de una alimentación consciente. Buscamos ser un lugar de inspiración para otros
        agricultores, comunidades
        y consumidores, contribuyendo así a la construcción de un mundo más saludable y equilibrado.</p>
    </div>
  </div>
</section>


<div class="inline-flex items-center justify-center w-full">
  <hr class="w-64 h-1 my-8 bg-black border-0 rounded to-am-grey-dark">
  <div class="absolute px-4 -translate-x-1/2 bg-white left-1/2 dark:bg-gray-900">
    <svg class="w-4 h-4 text-gray-700 dark:text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
      fill="currentColor" viewBox="0 0 18 14">
      <path
        d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z" />
    </svg>
  </div>
</div>



<section class="text-gray-600 body-font">
  <div class="container px-5 py-4 mx-auto">
    <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
      <img
        class="xl:w-1/4 lg:w-1/3 md:w-2/3 w-2/3 block mx-auto mb-10 object-cover object-center rounded-full border border-contrast-black"
        alt="hero" src="../../../../assets/img/medio-ambiente.jpg">
      <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">Compromiso Ambiental</h2>
      <p class="leading-relaxed text-center">Estamos comprometidos a reducir nuestro impacto ambiental y a ser
        guardianes responsables de la tierra que cultivamos.<br>
        Implementamos prácticas agrícolas regenerativas, reducimos residuos y promovemos el uso eficiente de recursos
        naturales.<br>
        Nos esforzamos por dejar un legado positivo para las generaciones futuras, preservando y mejorando la salud del
        ecosistema.<br></p>
      <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-1 mb-1"></span>
    </div>
  </div>
</section>

<div class="inline-flex items-center justify-center w-full">
  <hr class="w-64 h-1 my-8 bg-black border-0 rounded to-am-grey-dark">
  <div class="absolute px-4 -translate-x-1/2 bg-white left-1/2 dark:bg-gray-900">
    <svg class="w-4 h-4 text-gray-700 dark:text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
      fill="currentColor" viewBox="0 0 18 14">
      <path
        d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z" />
    </svg>
  </div>
</div>



<section class="text-gray-600 body-font border">
  <div class="container px-5 py-4 mx-auto">
    <div class="flex flex-col">
      <div class="h-1 bg-gray-200 rounded overflow-hidden">
        <div class="w-24 h-full bg-indigo-500"></div>
      </div>
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full"
            src="../../../../assets/img/proceso-sostenible.png">
        </div>
        <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Procesos Sostenibles</h2>
        <p class="text-justify leading-relaxed mt-2"> Descubre cómo mantenemos un equilibrio armonioso con la
          naturaleza. Desde la rotación de cultivos hasta la compostaje,
          cada decisión que tomamos está guiada por nuestro compromiso con la sostenibilidad y la reducción de nuestro
          impacto
          ambiental.</p>
      </div>
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full"
            src="../../../../assets/img/comunidad-compromiso.jpg">
        </div>
        <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Comunidad y Compromiso</h2>
        <p class="text-justify leading-relaxed mt-2">No solo cultivamos alimentos, sino también conexiones con nuestra
          comunidad. Únete a nosotros en eventos, talleres y
          actividades que fomentan la conciencia sobre la alimentación saludable y la agricultura sostenible.</p>
      </div>
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full"
            src="../../../../assets/img/compra-consciente.png">
        </div>
        <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Compra Consciente</h2>
        <p class="text-justify leading-relaxed mt-2">Haz tus compras con la tranquilidad de saber que estás eligiendo
          productos frescos y saludables que respetan la
          tierra y apoyan a los agricultores locales. Visita nuestra tienda en línea para explorar nuestras opciones y
          realizar
          tu pedido.</p>
      </div>
    </div>
  </div>
</section>

<div class="inline-flex items-center justify-center w-full">
  <hr class="w-64 h-1 my-8 bg-black border-0 rounded to-am-grey-dark">
  <div class="absolute px-4 -translate-x-1/2 bg-white left-1/2 dark:bg-gray-900">
    <svg class="w-4 h-4 text-gray-700 dark:text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
      fill="currentColor" viewBox="0 0 18 14">
      <path
        d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z" />
    </svg>
  </div>
</div>




<section class="text-gray-600 body-font">
  <div class="container px-5 py-4 mx-auto">
    <div class="flex flex-col text-center w-full mb-4">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Artículos más recientes</h1>
    </div>
    <div class="flex flex-wrap">
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Los huertos orgánicos benefician a
          miles de personas en el Distrito</h2>
        <a href="https://www.conquito.org.ec/los-huertos-organicos-benefician-a-miles-de-personas-en-el-distrito/"
          target="_blank" rel="noopener noreferrer" class="text-indigo-500 inline-flex items-center">Leer más
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Quito SIEMBRA AGRICULTURA URBANA
          CONQUITO</h2>
        <a href="https://www.conquito.org.ec/wp-content/uploads/2016/11/QUITO_SIEMBRA_AGRICULTURA_URBANA_CONQUITO.pdf"
          target="_blank" rel="noopener noreferrer" class="text-indigo-500 inline-flex items-center">Leer más
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">PROYECTO RUMIÑAHUI PRODUCTIVO</h2>
        <a href="https://www.misionruminahui.gob.ec/ruminahui-productivo/" target="_blank" rel="noopener noreferrer"
          class="text-indigo-500 inline-flex items-center">Leer más
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">
          La sustentabilidad de las huertas urbanas y periurbanas con base agroecológica: el caso de Quito</h2>
        <a href="https://revistas.flacsoandes.edu.ec/letrasverdes/article/view/2608/2042" target="_blank"
          rel="noopener noreferrer" class="text-indigo-500 inline-flex items-center">Leer más
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>


<div class="inline-flex items-center justify-center w-full">
  <hr class="w-64 h-1 my-8 bg-black border-0 rounded to-am-grey-dark">
  <div class="absolute px-4 -translate-x-1/2 bg-white left-1/2 dark:bg-gray-900">
    <svg class="w-4 h-4 text-gray-700 dark:text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
      fill="currentColor" viewBox="0 0 18 14">
      <path
        d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z" />
    </svg>
  </div>
</div>




<section class="text-gray-600 body-font relative bg-grays">
  <div class="container px-5 py-4 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Contáctanos</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Escríbenos para programar una visita y ver de cerca nuestro
        huerto. <br>
        Estamos encantados de compartir nuestra pasión por la agricultura orgánica contigo.</p>
    </div>
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <div class="flex flex-wrap -m-2">

        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="name" class="leading-7 text-sm text-gray-600">Nombre:</label>
            <input type="text" id="name" name="name" class="w-full mr-8 bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 
              focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 
              leading-8 transition-colors duration-200 ease-in-out">
          </div>
        </div>

        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="email" class="leading-7 text-sm text-gray-600">Correo:</label>
            <input type="email" id="email" name="email" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 
              focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 
              leading-8 transition-colors duration-200 ease-in-out">
          </div>
        </div>
        <div class="p-2 w-full">
          <div class="relative">
            <label for="message" class="leading-7 text-sm text-gray-600">Mensaje:</label>
            <textarea id="message" name="message"
              class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
          </div>
        </div>
        <div class="p-2 w-full">
          <button
            class="flex mx-auto text-white bg-am-blue border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Enviar</button>
        </div>
        <div class="p-2 w-full pt-4 mt-4 border-t border-gray-200 text-center">
          <a class="text-indigo-500">chacramichagrita@micorreo.com</a>
          <p class="leading-normal my-5">Sangolquí
            <br>Quito - Ecuador
          </p>
          <span class="inline-flex">
            <a class="text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                viewBox="0 0 24 24">
                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
              </svg>
            </a>
            <a class="ml-4 text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                viewBox="0 0 24 24">
                <path
                  d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                </path>
              </svg>
            </a>
            <a class="ml-4 text-gray-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                class="w-5 h-5" viewBox="0 0 24 24">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
              </svg>
            </a>
            <a class="ml-4 text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                viewBox="0 0 24 24">
                <path
                  d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                </path>
              </svg>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>